body {
  background: #222;
  color: white;
}

img {
  max-width: 100%;
}

.clear {
  overflow: hidden;
  width: 100%;
}

div {
  background: white;
  color: #222;
  padding: 20px;
}

.column {
  width: 25%;
  float: left;
  box-sizing: border-box;
}

/* Your Code Goes Under This Line */
