img {
  max-width: 50%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: sans-serif;
}

div {
  color: #7BBADE;
  background: #222;
  border-left: 1px solid white;
  padding: 5px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  color: #93DE7F;
  border-bottom: 1px solid #93DE7F;
  padding: 5px;
  background: #222;
}

/* Code Under This Line */

/*.columns {
  clear: both;
  overflow: hidden;
}*/

.column {
  float: left;
}

.one .column{
  width: 100%;
}

.two .column{
  width: calc(100%/2);
}

.three .column{
  width: calc(100%/3);
}

.four .column{
  width: calc(100%/4);
}

.five .column{
  width: calc(100%/5);
}

.six .column{
  width: calc(100%/6);
}

.seven .column{
  width: calc(100%/7);
}

.eight .column{
  width: calc(100%/8);
}

.nine .column{
  width: calc(100%/9);
}

.ten .column{
  width: calc(100%/10);
}
.eleven .column{
  width: calc(100%/11);
}
.twelve .column{
  width: calc(100%/12);
}
